<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-12 col-lg-8">
      <div class="card mb-3 overflow-hidden shadow-sm p-0">
        <div class="row g-0">
          <div class="col-md-4 bg-primary login-sidebar">
            <div class="card-body">
              <h4 class="text-white">Login</h4>
              <p class="text-white">
                Get access to your Orders, Wishlist and Recommendations
              </p>
            </div>
          </div> 
          <div class="col-md-8">
            <div class="card-body h-100">
              <form
                [formGroup]="loginForm"
                (ngSubmit)="loginFn()"
                class="h-100"
              >
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <div class="mb-3">
                      <label for="username">Email</label>
                      <div class="input-group">
                        <span class="input-group-text"  >
                          <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        <input
                          id="username"
                          type="text"
                          class="form-control form-control-lg"
                          placeholder="Email"
                          formControlName="username"
                        />
                      </div>
                      <error
                        *ngIf="isSubmited"
                        [control]="loginForm.controls['username']"
                        [fieldName]="'username'"
                      ></error>
                    </div>
                    <div class="mb-3">
                      <label for="password">Password</label>
                      <div class="input-group">
                        <span class="input-group-text"  >
                          <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>

                        <input
                          id="password"
                          [type]="showPassword ? 'text' : 'password'"
                          class="form-control form-control-lg rounded-end"
                          placeholder="Password"
                          formControlName="password"
                        />
                        <i
                          class="password-icon fa"
                          [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"
                          aria-hidden="true"
                          role="button"
                          (click)="showPassword = !showPassword"
                        ></i>
                      </div>
                      <error
                        *ngIf="isSubmited"
                        [control]="loginForm.controls['password']"
                        [fieldName]="'password'"
                      ></error>
                    </div>

                    <div class="my-4 text-center">
                      <div>
                        <button
                          class="btn btn-outline-primary w-100"
                          type="submit"
                        >
                          Login
                        </button>
                      </div>
                    </div>
                    <div class="text-center">
                      <a
                        routerLink="/forget-password"
                        class="nav-link text-primary mt-3"
                      >
                        Forgot your password?
                      </a>
                    </div>
                  </div>
                  <div class="text-center">
                    <a
                      routerLink="/register"
                      class="nav-link text-primary mt-3"
                    >
                      New to E-Commerce? Create an account
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
