
<div class="container">

  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          <h4>Update Password</h4>
        </div>
        <div class="card-body h-100">
          <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" class="h-100">
            <div class="d-flex flex-column justify-content-between h-100">
              <div>
                <div class="mb-3">
                  <label for="oldPassword" class="required">Old Password</label>
                  <div class="input-group">
                    <span class="input-group-text">
                      <i class="fa fa-unlock-alt mx-1" aria-hidden="true"></i>
                    </span>
                    <input
                      type="text"
                      id="oldPassword"
                      class="form-control form-control-lg"
                      placeholder="Old Password"
                      formControlName="oldPassword"
                      />
                    </div>
                    @if (isSubmited) {
                      <error
                        [control]="passwordForm.controls['oldPassword']"
                        [fieldName]="'Old Password'"
                      ></error>
                    }
                  </div>
                  <div class="mb-3">
                    <label for="newPassword" class="required">New Password</label>
                    <div class="input-group">
                      <span class="input-group-text">
                        <i class="fa fa-unlock-alt mx-1" aria-hidden="true"></i>
                      </span>
                      <input
                        type="text"
                        id="newPassword"
                        class="form-control form-control-lg"
                        placeholder="New Password"
                        formControlName="newPassword"
                        appVerseValidateEqual="confirmPassword"
                        reverse="true"
                        />
                      </div>
                      @if (isSubmited) {
                        <error
                          [control]="passwordForm.controls['newPassword']"
                          [fieldName]="'New Password'"
                        ></error>
                      }
                    </div>
                    <div class="mb-3">
                      <label for="confirmPassword" class="required">Confirm Password</label>
                      <div class="input-group">
                        <span class="input-group-text">
                          <i class="fa fa-unlock-alt mx-1" aria-hidden="true"></i>
                        </span>
                        <input
                          type="text"
                          id="confirmPassword"
                          class="form-control form-control-lg"
                          placeholder="Confirm Password"
                          formControlName="confirmPassword"
                          appVerseValidateEqual="newPassword"
                          reverse="false"
                          />
                        </div>
                        @if (isSubmited) {
                          <error
                            [control]="passwordForm.controls['confirmPassword']"
                            [fieldName]="'Confirm Password'"
                            [errorMessage]="compareValidationMessage('New Password')"
                          ></error>
                        }
                      </div>

                      <div class="my-4 row justify-content-center">
                        <div class="col-4">
                          <button class="btn btn-outline-primary w-100" type="submit">
                            Update
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
