<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-12 col-md-10 col-lg-4">
      <form [formGroup]="registerForm" (ngSubmit)="RegisterFn()">
        <div class="card shadow-lg">
          <div class="card-header text-center">
            <h3>Create a new account</h3>
            <p class="card-text">It's quick and easy.</p>
          </div>
          <div class="card-body">
            <div class="mb-3">
              <label for="name">Name</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                <input
                  type="text"
                  id="name"
                  class="form-control form-control-lg"
                  placeholder="Name"
                  formControlName="name"
                />
              </div>
              <error
                *ngIf="isSubmited"
                [control]="registerForm.controls['name']"
                [fieldName]="'name'"
              ></error>
            </div>
            <div class="mb-3">
              <label for="Password">Email</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
                <input
                  type="text"
                  id="email"
                  class="form-control form-control-lg"
                  placeholder="Email"
                  formControlName="email"
                />
              </div>
              <error
                *ngIf="isSubmited"
                [control]="registerForm.controls['email']"
                [fieldName]="'email'"
              ></error>
            </div>
            <div class="mb-3">
              <label for="Password">Password</label>
              <div class="input-group">
                <span class="input-group-text" id="basic-addon1">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
                <input
                  type="text"
                  id="password"
                  class="form-control form-control-lg"
                  placeholder="Password"
                  formControlName="password"
                />
              </div>
              <error
                *ngIf="isSubmited"
                [control]="registerForm.controls['password']"
                [fieldName]="'password'"
              ></error>
            </div>

            <div class="my-4 text-center">
              <button class="btn btn-outline-primary w-100" type="submit">
                Register
              </button>
              <a routerLink="/login" class="nav-link text-primary fs-5 mt-3"
                >Already have an account?</a
              >
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
