<div class="container">
  <div class="row">
    @if (allOrders?.length) { @for (item of allOrders; track item._id) {
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-body">
          <div
            class="d-flex flex-column flex-lg-row gap-3 gap-lg-0 justify-content-end justify-content-lg-between align-items-lg-center"
          >
            <img
              [src]="item.image"
              class="product-image rounded-2"
              alt="product-img"
            />

            <h5 class="card-title text-truncate" style="width: 40%">
              {{ item.name }}
            </h5>
            <span> Price :{{ item.price | currency : 'INR' }} </span>
            <div class="d-flex align-items-center gap-3">
              Quantity :

              <span class="fw-bold">
                {{ item.amount }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    }}@else {
    <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 text-center">
      <div class="card mb-3">
        <div class="card-body text-muted">
          <img
            class="w-100"
            src="assets\images\no-order.svg"
            alt="no-order-img"
          />
          <p class="h4">You have no orders yet.</p>
          <a
            class="btn btn-outline-primary"
            [routerLink]="['/']"
            routerLinkActive="router-link-active"
          >
            <i class="fa fa-shopping-cart mx-2"></i>Start Shopping
          </a>
        </div>
      </div>
    </div>
    }
  </div>
</div>
