<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-12 col-lg-8">
      <div class="card mb-3 overflow-hidden shadow-sm p-0">
        <div class="row g-0">
          <div class="col-md-4 bg-primary login-sidebar">
            <div class="card-body">
              <h4 class="text-white">Forgot your password?</h4>
              <p class="text-white">
                Lost your password? Please enter your email email address. You
                will receive a link to create a new password via email.
              </p>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body h-100">
              <form
                class="h-100"
                [formGroup]="forgetPassword"
                (ngSubmit)="forgotPassword()"
                *ngIf=" !this.isReset;else passwordUpdatedTemp"
              >
                <div class="d-flex flex-column justify-content-between h-100">
                  <div>
                    <div class="mb-3" *ngIf="!token">
                      <label for="username">Email</label>
                      <div class="input-group">
                        <span class="input-group-text"  >
                          <i class="fa fa-user" aria-hidden="true"></i>
                        </span>
                        <input
                          id="username"
                          type="text"
                          class="form-control form-control-lg"
                          placeholder="Email"
                          formControlName="email"
                        />
                      </div>
                      <error
                        *ngIf="isSubmitted"
                        [control]="getFormControl('email')"
                        [fieldName]="'email'"
                      ></error>
                    </div>
                    <ng-container *ngIf="token">
                      <div class="mb-3">
                        <label for="password">Password</label>
                        <div class="input-group">
                          <span class="input-group-text"  >
                            <i class="fa fa-lock" aria-hidden="true"></i>
                          </span>
                          <input
                            id="password"
                            type="text"
                            class="form-control form-control-lg"
                            placeholder="Password"
                            formControlName="password"
                            appVerseValidateEqual="confirmPassword"
                            reverse="true"
                          />
                        </div>
                        <error
                          *ngIf="isSubmitted"
                          [control]="getFormControl('password')"
                          [fieldName]="'password'"
                        ></error>
                      </div>
                      <div class="mb-3">
                        <label for="confirmPassword">Confirm Password</label>
                        <div class="input-group">
                          <span class="input-group-text"  >
                            <i class="fa fa-lock" aria-hidden="true"></i>
                          </span>
                          <input
                            id="confirmPassword"
                            type="text"
                            class="form-control form-control-lg"
                            placeholder="Confirm Password"
                            formControlName="confirmPassword"
                            appVerseValidateEqual="password"
                            reverse="false"
                          />
                        </div>
                        <error
                          *ngIf="isSubmitted"
                          [control]="getFormControl('confirmPassword')"
                          [fieldName]="'Confirm Password'"
                          [errorMessage]="compareValidationMessage('Password')"
                        ></error>
                      </div>
                    </ng-container>
                    <div class="my-4 text-center">
                      <div>
                        <button
                          class="btn btn-outline-primary w-100"
                          type="submit"
                          [disabled]="resetMsg ? true : false"
                          *ngIf="!token"
                        >
                          <span *ngIf="!resetMsg"> Forgot Password</span>
                          <span *ngIf="resetMsg"
                            >Resend link in {{ countdown }}</span
                          >
                        </button>
                        <button
                          class="btn btn-outline-primary w-100"
                          type="submit"
                          *ngIf="token"
                        >
                          Reset Password
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <a
                      routerLink="/register"
                      class="nav-link text-primary mt-3"
                    >
                      New to E-Commerce? Create an account</a
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #passwordUpdatedTemp>

  <div class="d-flex align-items-center justify-content-center gap-2">
    <i
      class="fa fa-check-circle fa-2x text-success"
      aria-hidden="true"
    ></i>
    <span>Password changed</span>
  </div>
  <p class="mt-2"> 
    Redirecting you to login page in <span class="text-success fw-bold">{{countdown}}</span> sec.
  </p>
 
</ng-template>


